[contenteditable]{
    outline: none;
    cursor: text;
}

#footer, .menu-btns{
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.btn{
	background-color: #0a375c;
	color: #f6f4f3;

	height: 70px;

	padding: 10px 40px 10px 25px;
	
	font-size: 11pt;
	font-weight: 700;
	line-height: 18pt;

	display: flex;
	align-items: center;
	cursor: pointer;

	transition: .3s;
	
	border: none;
}

.btn svg, .btn img{
	margin-right: 15px;
}

.btn:hover{
	background-color: #256182;
}

.greyed{
	background-color: #8c8c8c;
	cursor: default;
}

.greyed:hover{
	background-color: #8c8c8c;
}

[placeholder]:empty:before {
    content: attr(placeholder);
    color: rgba(10,55,92,.3); 
}

.main{
	box-shadow: 0 0 15px rgb(0 0 0 / 40%);
}

.prompt{
	background-color: #f6f4f3;
	color: #0a375c;
	box-shadow: 0 0 15px rgba(0,0,0,.3);

	width: 400px;
	height: 175px;

	padding: 25px;

	border: none;
	border-radius: 5px;

	font-family: sans-serif;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	
	position: fixed;
	top: calc(50% - 88px);
	left: calc(50% - 223px);
}

.prompt h3{
	margin-top: 0;
	margin-bottom: 3px;
}

.prompt p{
	margin-top: 0;
	font-size: 11pt;
}

.prompt input{
	border: 2px solid #3183af;
	border-radius: 5px;

	background-color: transparent;

	font-size: 12pt;
	line-height: 20pt;

	padding: 5px 10px;
	width: calc(100% - 25px);
}

.prompt .container{
	align-self: flex-end;
	margin-top: auto;
}

.container > *{
	margin: 0 5px;
}

.prompt button:first-of-type{
	background-color: #3183af;
	color: #f6f4f3;
}

.prompt button:focus{
	border: 2px solid #f6f4f3;
	outline: 2px solid #3183af;
}

.prompt button:first-of-type:hover{
	background-color: #0a375c;	
}

.prompt button:hover{
	background-color: #e4e0dd;	
}

.prompt button{
	background-color: #f6f4f3;
	border: 2px solid rgba(0,0,0,0);
	outline: 2px solid rgba(0,0,0,0);
	border-radius: 3px;
	padding: 10px 20px;

	font-weight: bold;
	text-transform: uppercase;

	cursor: pointer;
}

.erro input{
	border: 2px solid #ff2c48;
}

.erro .err-msg{
	font-size:13px;
	text-align: right;
	color: #ff2c48;
	margin-top: 5px;
}

.alert{
	width: 400px;
	height: 120px;
}

.alert p{
	margin-right: 100px;
}

.alert h3{
	margin-top: 0;
	margin-bottom: 10px;
}

.hidden{
	display: none;
}

.overlay{
	width: 100vw;
	height: 100vw;
	
	background-color: rgba(0,0,0,.3);
	
	position: fixed;
	top: 0;
	left: 0;
}

#materia-capa, #imagem-redes{
	cursor: pointer;
	background-color: #0a375c;
	transition: .3s;
}

#materia-capa:hover, #imagem-redes:hover{
	background-color: #3183af;
}

label{
	display: inline-block;
	margin-bottom: 40px;
}

/* Flash-messages */
.container-lvl2-flash-message{
	position: fixed;
	top: 0;

	margin: 30px;

	height: -webkit-fill-available;
	height: calc(100vh - 60px);

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.flash-message{
	background-color: #f6f4f3;
	box-shadow: 0 0 15px rgba(0,0,0, .15);

	border-radius: 5px;

	display: flex;
	overflow: hidden;
	position: relative;

	font-family: 'Roboto', sans-serif;
	color: #062137;

	max-width: 500px;
	width: 40vw;
	height: 110px;
	margin: 15px 0;

	/*Animação*/
	opacity: 0;
	transform: translateY(20px);

	transition: 0.4s ease-out;

	z-index: 99;
}
.flash-message .barra-lateral{
	width: 10px;
	height: 1000px;
}
.flash-message .icon{
	width: 40px;
	height: 40px;
	margin: auto 15px;

	background-repeat: no-repeat;
	background-position: center center;
}
.flash-message .conteudo{
	padding-right: 20px;
	margin: 15px 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
}
.flash-message .conteudo p, .flash-message .conteudo h4{
	margin: 5px;
	line-height: 1.25;
}
.flash-message .close-icon{
	width: 25px;
	height: 25px;
	right: 15px;
	top: 10px;

	cursor: pointer;
	position: absolute;

	background-image: url('./img/close-icon.svg');
}

/*Animação dos Flash Messages*/
.flash-message.show{
	opacity: 1;
	transform: translateY(0px);
}

/* Diferentes tipos de mensagens */
.flash-message.sucesso .barra-lateral{
	background-color: #01d451;
}
.flash-message.sucesso .icon{
	background-image: url("./img/sucesso-icon.svg");
}

.flash-message.erro .barra-lateral{
	background-color: #ff2c48;
}
.flash-message.erro .icon{
	background-image: url("./img/erro-icon.svg");
}

.flash-message.aviso .barra-lateral{
	background-color: #ffbb33;
}
.flash-message.aviso .icon{
	background-image: url("./img/aviso-icon.svg");
}

/* Containers do editor */
body{
	background-color: #ccc;

	margin: 0;
}

.menu-btns{
	min-width: 200px;
	border-radius: 5px;

	background-color: #0a375c;

	overflow: hidden;

	display: flex;
	flex-direction: column;

	font-family: sans-serif;
	
    position: fixed;
	left: calc(50% + 350px);
	bottom: 50px;
}

/* TESTE */
.outra-materia-container, .main-materia-container{
	cursor: pointer;
	
	border-radius: 20px;
	overflow: hidden;
}
.outra-materia-container:hover, .main-materia-container:hover{
	background-color: #dcd5d0;
}

/* Botão adicionar matéria */
.add-btn{
	display: flex;
	justify-content: center;
	align-items: center;
	
	cursor: pointer;

	margin: 15px 0;
}
.add-btn div{
	width: 40px;
	height: 40px;
	border-radius: 25px;

	background-color: #0a375c;
	color: #f6f4f3;

	display: flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

/* Remover outra materia */
.remove-materia{
	position: relative;
}
.remove-btn{
	position: absolute;
	top: 15px;
	right: 15px;

	width: 25px;
	height: 25px;

	background-image: url('./img/close-icon.svg');
}