/* Arquivo para os estilos relacionados ao editor */
[contenteditable]{
    outline: none;
    cursor: text;
}

#footer, .menu-btns{
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.btn{
	background-color: #0a375c;
	color: #f6f4f3;

	height: 70px;

	padding: 10px 40px 10px 25px;
	
	font-size: 11pt;
	font-weight: 700;
	line-height: 18pt;

	display: flex;
	align-items: center;
	cursor: pointer;

	transition: .3s;
	
	border: none;
}

.btn svg, .btn img{
	margin-right: 15px;
}

.btn:hover{
	background-color: #256182;
}

.greyed{
	background-color: #8c8c8c;
	cursor: default;
}

.greyed:hover{
	background-color: #8c8c8c;
}

[placeholder]:empty:before {
    content: attr(placeholder);
    color: rgba(10,55,92,.3); 
}

.main{
	box-shadow: 0 0 15px rgb(0 0 0 / 40%);
}

.prompt{
	font-family: 'Montserrat';

	background-color: #f6f4f3;
	color: #062137;
	box-shadow: 0 0 15px rgba(0,0,0,.2);
	
	width: 500px;

	position: fixed;
	top: calc(50vh - 125px);
	left: calc(50% - 250px);
}

.prompt .content{
	margin: 40px;

	line-height: 1.4;
	font-weight: 500;

	position: relative;
}

.prompt h2{
	line-height: 1.2;
	margin: 0;
}

.prompt .btn-container{
	background-color: #ece8e6;
	min-height: 85px;

	margin: auto;
	display: flex;
	align-items: center;
	justify-content: flex-end;

	padding: 0 20px;
}

.prompt button{
	font-family: 'Montserrat','Helvetica', 'Arial', sans-serif;
	font-weight: 600;
	font-size: 14pt;
	letter-spacing: .5px;

	border: none;
	padding: 10px 20px;
	margin: auto 15px auto 0;

	color: #f6f4f3;
	background-color: #3183af;
	border-radius: 3px;

	cursor: pointer;
}

.prompt button.cancel{
	background-color: transparent;
	color: #0a375c;

	font-weight: 500;

	transition: .1s ease-out;
}

.prompt button.cancel:hover{
	background-color: rgba(0,0,0,.1);
}

.prompt .close-btn{
	position: absolute;

	background-image: url('./img/close-icon.svg');
	width: 25px;
	height: 25px;

	top: 20px;
	right: 20px;

	cursor: pointer;
}

.prompt.input p{
	margin: 5px 0 30px;
}

.prompt.input input{
	font-family: 'Montserrat', 'Segoe UI', 'Helvetica', 'Arial', sans-serif;

	font-size: 12pt;
	padding: 8px 10px;
	width: calc(100% - 20px);

	border-radius: 5px;
	border: 2px solid #3183af;
	
	background-color: transparent;
}
.prompt.erro input{
	border: 2px solid #ff2c48;
}

.prompt p.error-msg{
	display: none;

	font-size: 13px;
	text-align: right;

	color: #ff2c48;

	margin: 5px 0;

	position: absolute;
	right: 0;
}

.prompt.erro .error-msg{
	display: block;
}

.overlay{
	width: 100vw;
	height: 100vw;
	
	background-color: rgba(0,0,0,.2);
	
	position: fixed;
	top: 0;
	left: 0;
}

#materia-capa, #imagem-redes{
	cursor: pointer;
	background-color: #0a375c;
	transition: .3s;
}

#materia-capa:hover, #imagem-redes:hover{
	background-color: #3183af;
}

label{
	display: inline-block;
	margin-bottom: 40px;
}

/* Flash-messages */
.container-lvl2-flash-message{
	position: fixed;
	top: 0;

	margin: 30px;

	height: -webkit-fill-available;
	height: calc(100vh - 60px);

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.flash-message{
	background-color: #f6f4f3;
	box-shadow: 0 0 15px rgba(0,0,0, .15);

	border-radius: 5px;

	display: flex;
	overflow: hidden;
	position: relative;

	font-family: 'Roboto', sans-serif;
	color: #062137;

	max-width: 500px;
	width: 40vw;
	height: 110px;
	margin: 15px 0;

	/*Animação*/
	opacity: 0;
	transform: translateY(20px);

	transition: 0.4s ease-out;

	z-index: 99;
}
.flash-message .barra-lateral{
	width: 10px;
	height: 1000px;
}
.flash-message .icon{
	width: 40px;
	height: 40px;
	margin: auto 15px;

	background-repeat: no-repeat;
	background-position: center center;
}
.flash-message .conteudo{
	padding-right: 20px;
	margin: 15px 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
}
.flash-message .conteudo p, .flash-message .conteudo h4{
	margin: 5px;
	line-height: 1.25;
}
.flash-message .close-icon{
	width: 25px;
	height: 25px;
	right: 15px;
	top: 10px;

	cursor: pointer;
	position: absolute;

	background-image: url('./img/close-icon.svg');
}

/*Animação dos Flash Messages*/
.flash-message.show{
	opacity: 1;
	transform: translateY(0px);
}

/* Diferentes tipos de mensagens */
.flash-message.sucesso .barra-lateral{
	background-color: #01d451;
}
.flash-message.sucesso .icon{
	background-image: url("./img/sucesso-icon.svg");
}

.flash-message.erro .barra-lateral{
	background-color: #ff2c48;
}
.flash-message.erro .icon{
	background-image: url("./img/erro-icon.svg");
}

.flash-message.aviso .barra-lateral{
	background-color: #ffbb33;
}
.flash-message.aviso .icon{
	background-image: url("./img/aviso-icon.svg");
}

/* Containers do editor */
body{
	background-color: #ccc;

	margin: 0;
}

.menu-btns{
	min-width: 200px;
	border-radius: 5px;

	background-color: #0a375c;

	overflow: hidden;

	display: flex;
	flex-direction: column;

	font-family: sans-serif;
	
    position: fixed;
	left: calc(50% + 350px);
	bottom: 50px;
}

/* Container materias */
.outra-materia-container, .main-materia-container{
	cursor: pointer;
	
	border-radius: 20px;
	overflow: hidden;

	transition: .2s ease-out;
	opacity: 0;
	transform: translateY(20px);
}
.outra-materia-container:hover, .main-materia-container:hover{
	background-color: #dcd5d0;
}

.outra-materia-container.show, .main-materia-container.show{
	opacity: 1;
	transform: translateY(0px);
}

/* Botão adicionar matéria */
.add-btn{
	display: flex;
	justify-content: center;
	align-items: center;
	
	cursor: pointer;

	margin: 15px 0;

	transition: .25s ease-out;
}
.add-btn div{
	width: 40px;
	height: 40px;
	border-radius: 25px;

	background-color: #0a375c;
	color: #f6f4f3;

	display: flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	font-size: 24px;
	font-weight: bold;

	box-shadow: 0 0 10px rgba(0,0,0,.3);
	transition: .4s ease-out;
}

.add-btn:hover{
	transform: scale(1.15);
}

.add-btn:hover div{
	background-color: #256182;
}

/* Remover outra materia */
.remove-materia{
	position: relative;
}
.remove-btn{
	position: absolute;
	top: 15px;
	right: 15px;

	width: 25px;
	height: 25px;

	background-image: url('./img/close-icon.svg');
}