/* Arquivo para os estilos relacionados à newsletter em si */
table {
    border-spacing: 0;
}
td {
    padding: 0;
}
img {
    border: 0;
}

.wrapper{
    width: 100%;
    table-layout: fixed;
    background-color: #f6f4f3;
    padding-bottom: 60px;
}

.main{
    background-color: #e8e3e0;
    margin: 0 auto;
    width: 100%;
    max-width: 580px;
    border-spacing: 0;

    font-family: "Roboto","Arial", sans-serif;
    color: #0a375c;
}

hr{
    width: 55%;

    height: 3px;
    background-color: #0a375c;
    border: none;
    margin: 0 0 30px 0;
}

.titulo-materia{
    font-size: 28px;
    line-height: 32px;
    font-weight: bold;
    margin: 0 auto 10px;
}

.texto-materia, .texto-materia p, .texto-materia div{
    font-family: "Georgia","Times New Roman", serif;
    font-size: 18px;
    line-height: 26px;

    text-align: left;
}

p, .texto-materia p, .texto-materia div{
    overflow-wrap: break-word;
    word-break: break-word;
}

a{
    color: #3183af;
    text-decoration: underline;
}

.titulo-materia.outro{
    font-size: 22px;
}

.outra-materia{
    margin: 0 0 50px;
}

#footer{
    background-color: #0a375c;
    color: #e8e3e0;
}

.icon_redes{
    display: inline-block;
    margin: auto 15px;
}